@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue-color: #0F1C2E;
    --black: #000;
    --blue-light: #50C9CE;
    --blue-project: #B0E0E6;
    --blue-text: #DFF9FC;
    --footer : #142733;
}

html{
    scroll-behavior: smooth;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
  

}

header{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 800px;
    background-color: var(--dark-blue-color);

    
}

.menu-link{
    display: flex;
    width: 100%;
    height: 6%;
    gap: 100px;
    justify-content: center;
    align-self: center;
    background-color: var(--dark-green-color);
    border-bottom: 1px solid var(--blue-light);

}

ul,li,a{
    display: flex;
    text-decoration: none;
}

a{
    display: flex;
    justify-content: center;
    align-items: center ;
    color: var(--blue-text);
    font-size: clamp(0.5em, 1.2vw, 2rem);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.container-profile{
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: space-evenly;
    align-items: center;
}

.container-presentation{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 120px;
}

.text-hi,.text-dev{
    color: var(--blue-text);
    font-size: clamp(0.5em, 1.2vw, 2rem);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-wrap: wrap;
    word-spacing: 5px;
    letter-spacing: 10px;
    text-align: start;

}

.text-name{
    display: flex;
    color: var(--blue-text);
    font-size: clamp(1em, 3vw, 4rem);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    text-wrap: wrap;
    word-spacing: 5px;
    letter-spacing: 20px;
    justify-content: center;
    text-align: start;
}

.drop-cv{
    display: flex;
    margin-top: 50px;
    border: none;
    width: 400px;
    height: 5%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--blue-light);
    color: var(--blue-text);
    cursor: pointer;
    
}

.container-foto {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foto{
    width: clamp(100px, 35vw, 400px);
}

hr{
    display: flex;
    width: 80%;
    height: 2px;
    background-color:var(--blue-project);
}

#about{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: var(--dark-blue-color);
}

.container-about{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.about-title{
    color: var(--blue-text);
    font-size: clamp(0.8em, 2vw, 2rem);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    text-wrap: wrap;
    word-spacing: 4px;
    letter-spacing: 20px;
    justify-content: center;
}

.about-texte{
    color: var(--blue-text);
    font-size: clamp(0.5em, 1.5vw, 2rem);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-wrap: wrap;
    text-align: start;
    width: 80%;
}

section > .about-title:nth-child(1){
 color: var(--blue-text);
}

#project{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 600px;
    justify-content: center;
    align-items: center;
    gap: 120px;
    flex-wrap: wrap;
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--dark-blue-color);
}
.container-project{
    display: flex;
    width: 100%;
    height: 80%;
    gap: 50px;
    max-height: inherit;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.card-project {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 265px;
    gap: 5%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-img{
    display:  flex;
    width: 180px;
    height: 170px;
    padding: 5px;
    background-color: var(--blue-text);
    border-radius: 10px;
    justify-content: center;
}

.img-project{
    width: 80%;
}

.text-name-project{
    font-size: clamp(0.8em, 1.2vw, 2rem);
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    text-wrap: wrap;
    max-width: 200px;
    letter-spacing:2px;
    color: var(--blue-text);
    text-align: center;
    text-wrap: wrap;
}

.section {
    transition: background-color 0.5s ease;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: auto;
    height: 300px;
    justify-content: center;
    background-color: var(--footer);
}

.title-footer {
    text-align: start;
    color: var(--blue-text);
    font-family: sans-serif;
    font-size: clamp(0.8em, 2vw, 2.2em);
    margin-bottom: 1%;
}

.email,
.number {
    color: var(--blue-text);
    font-family: sans-serif;
    font-size: clamp(0.6em, 1vw, 2em);
    margin-bottom: 5px;
}